/*  your css code here. If applicable */

#animal-photos{
	background-color: grey;
	padding: 0px 5px 10px;
	border: 0px;
	border-radius: 5px; 
}
#animal-photos #photo-heading
{
	text-align: center;
	color: white;
	text-size: 
}
#animal-photos #photos
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.images{
	height:120px;
	width: 30%;
	border: 0px;
	border-radius: 5px;
	margin: 10px;
}